{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://forms.office.com/e/G00URGtNgx" target="_blank" rel="noopener noreferrer">give your feedback</a>.'
}) }}
