<header class="hero">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds site-header">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 hero__heading">
          {% if params.superHeadline %}<span class="govuk-body">{{ params.superHeadline }}</span><br>{% endif %}
          <span>{% if params.title %}{{ params.title }}{% else %}{{ "Page Title" }}{% endif %}</span>
        </h1>
        {% if params.description | length %}
        <p class="govuk-body-l hero__description">{{ params.description }}</p>
        {% endif %}
        {% if params.action.href | length %}
        <p class="govuk-body-l hero__description">
          <a class="govuk-link hero__link" href="{{ params.action.href }}">{{ params.action.text }}</a>
        </p>
        {% endif %}
        {% if params.showLogo %}
        <figure class="hero__logo">
          <img src="./assets/images/crest.svg" class="govuk-!-display-inline-block" alt="Ministry of Justice Crest" width="80px" height="67">
          <figcaption class="govuk-!-display-inline-block">
            <span>Curated by<br> Ministry of Justice</span>
          </figcaption>
        </figure>
        {% endif %}
      </div>
    </div>
  </div>
</header>
