{% extends "../partials/layout.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "../components/card/macro.njk" import card -%}
{%- from "../components/hero/macro.njk" import hero -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block headerEnd %}
  {{
    hero({
      title: 'Find and reuse digital service elements',
      superHeadline: "Gov Reuse Library",
      description: "Building public services together - one reusable block at a time",
      showLogo: true
    })
  }}
<form method="get" action="/?">
  {% include "../partials/contentFilters.njk" %}
</form>
{% endblock %}

{% block content %}

{% if props.designSystems | length %}
<section>
 <h2 class="govuk-heading-l">Design systems</h2>
  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group">
      {% for item in props.designSystems %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            title: item.title,
            description: item.description,
            url: item.url,
            department: item.department
          }) }}
        </li>
      {% else %}
        <p>No data.</p>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% if props.manuals | length %}
<section>
  <h2 class="govuk-heading-l">Manuals</h2>
  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group">
      {% for item in props.manuals %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            title: item.title,
            description: item.description,
            url: item.url,
            department: item.department
          }) }}
        </li>
      {% else %}
        <p>No data.</p>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% if props.products | length %}
<section>
  <h2 class="govuk-heading-l">Products</h2>
  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group">
      {% for item in props.products %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            title: item.title,
            description: item.description,
            url: item.url,
            department: item.department
          }) }}
        </li>
      {% else %}
        <p>No data.</p>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% if props.servicePatterns | length %}
<section>
  <h2 class="govuk-heading-l">Service patterns</h2>
  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group">
      {% for item in props.servicePatterns %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            title: item.title,
            description: item.description,
            url: item.url,
            department: item.department
          }) }}
        </li>
      {% else %}
        <p>No data.</p>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% if props.standards | length %}
<section>
  <h2 class="govuk-heading-l">Standards</h2>
  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group">
      {% for item in props.standards %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            title: item.title,
            description: item.description,
            url: item.url,
            showDepartment: true,
            department: item.department
          }) }}
        </li>
      {% else %}
        <p>No data.</p>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% if props.styleGuides | length %}
<section>
  <h2 class="govuk-heading-l">Style guides</h2>
  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group">
      {% for item in props.styleGuides %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            title: item.title,
            description: item.description,
            url: item.url,
            showDepartment: true,
            department: item.department
          }) }}
        </li>
      {% else %}
        <p>No data.</p>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% endblock %}
